body {
  height: 100vh;
  background-image: linear-gradient(var(--black-alpha), var(--black-alpha)),
    url("../img/bg.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  color: var(--white);
}
